@tailwind base;
@tailwind components;
@tailwind utilities;

span.contrastingText {
    /* color: white; */
    /* mix-blend-mode: difference; */
    color: transparent;
    background: inherit;
    background-clip: text;
    filter: invert(1) grayscale(1) contrast(8);
}